.vertical-carousel {
    height: 100vh; /* Set the height of the carousel to the full viewport height */
  }
  
  .full-screen {
    height: 100vh; /* Set the height of each section to the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .carousel-img {
    margin-bottom: 20px;
  }
  
  .carousel-desc {
    text-align: center;
    color: #fff;
  }

  .crf{
    font-size: 20rem;
  }

  @media only screen and (max-width: 768px) {
    .crf {
        font-size: 5rem;
    }
  }

  .promos{
    width: 100%;
    font-size: 3rem;
  }
  @media only screen and (max-width: 768px) {
    .promos {
        font-size: 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    .sectionthree {
        font-size: 10px;
        font-weight: bolder;
        
    }
  }
  .sectionthree{
    height: auto;
    width: auto;
    padding-right: 50%;
    background-color: black;
    
  }
  .our{
    padding-top: 2rem;
    color: #fff;
    font-size: 3rem;
}

.we{
    font-size: 5rem;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .our {
        font-size: small;
        
    }
}
@media only screen and (max-width: 768px) {
    .we {
        
        font-size: small;
        
    }
}

.sectionf{
    height: 100%;
    width: 100%;
    background-color: black;
    align-items: center;
    padding-top: 20%;
}
.container{
    
    align-items: center;
    padding: 4%;
    background-color: rgb(198, 194, 194);
}
.btn{
    margin-left: 25%;
    color:black;
    background-color: aliceblue;
}
.p{
    color: aliceblue;
    flex: auto;

}
.l{
    margin-left: 18%;
    font-size: xx-large;
    color: white;
}
.input{
    background-color: black;
}
.e{
    color: white;
}
.btm{
    padding-left: 27%;
    padding-bottom: 10%;
}